In [1]:
import run
run.main()

+----+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----+
|    | b1                             | b2                             | s1                             | s2                             | es1                                                 | es2                                                 | es3                                                 |   m |
|----+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----|
|  0 | <function b1m1 at 0x107969950> | <function b2m1 at 0x108043730> | <function s1m1 at 0x108215d90> | <function s2m1 at 0x108215e18> | <function curried.<locals>._curried at 0x108218598> | <function curried.<locals>._curried at 0x108218620> | <function curried.<locals>._curried at 0x1082186a8> |   1 |
|  1 | <function b1m2 at 0x108215b70> | <function b2m2 at 0x108215bf8> | <function s1m2 at 0x108215ea0> | <function s2m2 at 0x108215f28> | <function curried.<locals>._curried at 0x108218598> | <function curried.<locals>._curried at 0x108218620> | <function curried.<locals>._curried at 0x1082186a8> |   2 |
|  2 | <function b1m3 at 0x108215c80> | <function b2m3 at 0x108215d08> | <function s1m3 at 0x108218048> | <function s2m3 at 0x1082180d0> | <function curried.<locals>._curried at 0x108218598> | <function curried.<locals>._curried at 0x108218620> | <function curried.<locals>._curried at 0x1082186a8> |   3 |
+----+--------------------------------+--------------------------------+--------------------------------+--------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----+
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]
[{'param1': 1}, {'param2': 4}]
[{'param1': 'a', 'param2': 2}, {'param1': 'b', 'param2': 4}]
[{'param1': ['c'], 'param2': array([ 10, 100])}, {'param1': ['d'], 'param2': array([ 20, 200])}]

,mech_step,run,s1,s2,s3,s4,time_step,timestamp
0,0,0,0,0,1,1,0,2018-10-01 15:16:24
1,1,1,1,4,10,10,1,2018-10-01 15:16:25
2,2,1,ab,6,10,10,1,2018-10-01 15:16:25
3,3,1,"[c, d]","[30, 300]",10,10,1,2018-10-01 15:16:25
4,1,1,1,4,9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
5,2,1,ab,6,9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
6,3,1,"[c, d]","[30, 300]",9.943733172773669970467835810,10.43650985051199020503531756,2,2018-10-01 15:16:26
7,1,1,1,4,7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
8,2,1,ab,6,7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
9,3,1,"[c, d]","[30, 300]",7.819556774768869265284526371,10.53721952812028761860248013,3,2018-10-01 15:16:27
10,1,1,1,4,9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
11,2,1,ab,6,9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
12,3,1,"[c, d]","[30, 300]",9.102175846000753312124925331,8.573616357680089499783223212,4,2018-10-01 15:16:28
13,1,1,1,4,7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
14,2,1,ab,6,7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
15,3,1,"[c, d]","[30, 300]",7.469759239508861972798095765,8.335794354629596453007093216,5,2018-10-01 15:16:29
16,1,2,1,4,6.840994223314594036159247005,8.040074564965138903733069316,1,2018-10-01 15:16:30
17,2,2,ab,6,6.840994223314594036159247005,8.040074564965138903733069316,1,2018-10-01 15:16:30
18,3,2,"[c, d]","[30, 300]",6.840994223314594036159247005,8.040074564965138903733069316,1,2018-10-01 15:16:30
19,1,2,1,4,7.185015110293636999598348991,7.973549796891672773333681070,2,2018-10-01 15:16:31
20,2,2,ab,6,7.185015110293636999598348991,7.973549796891672773333681070,2,2018-10-01 15:16:31
21,3,2,"[c, d]","[30, 300]",7.185015110293636999598348991,7.973549796891672773333681070,2,2018-10-01 15:16:31
22,1,2,1,4,6.290273738399476154658968642,7.473607684957699428619533981,3,2018-10-01 15:16:32
23,2,2,ab,6,6.290273738399476154658968642,7.473607684957699428619533981,3,2018-10-01 15:16:32
24,3,2,"[c, d]","[30, 300]",6.290273738399476154658968642,7.473607684957699428619533981,3,2018-10-01 15:16:32
25,1,2,1,4,5.624792832520353470560153274,7.440859704517771837739729987,4,2018-10-01 15:16:33
26,2,2,ab,6,5.624792832520353470560153274,7.440859704517771837739729987,4,2018-10-01 15:16:33
27,3,2,"[c, d]","[30, 300]",5.624792832520353470560153274,7.440859704517771837739729987,4,2018-10-01 15:16:33
28,1,2,1,4,5.113494880805657357084858662,7.085768463280635341494992830,5,2018-10-01 15:16:34
29,2,2,ab,6,5.113494880805657357084858662,7.085768463280635341494992830,5,2018-10-01 15:16:34
30,3,2,"[c, d]","[30, 300]",5.113494880805657357084858662,7.085768463280635341494992830,5,2018-10-01 15:16:34

In [2]:
type({'a':1})

dict

In [3]:
{'a':1}+{'b':2}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'